@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(9, 22, 42);
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

p,
h1 {
    margin: 0;
}

a,
.btn {
    transition: all 250ms ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 0 0 2rem;
    box-sizing: border-box;
    /* background-color: #071026; */
}

nav {
    margin-top: 2rem;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    color: white;
    text-decoration: none;
    display: flex;
}

.sidebar a {
    color: black;
}

.sidebar a:hover {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.452);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-icon {
    display: none;
}

.sidebar li {
    margin-top: 1rem;
    width: 100%;
}

.sidebar a {
    width: 100%;
    font-size: large;
}

a:hover {
    color: rgb(115, 162, 255);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo {
    font-size: 2rem;
    color: white;
}

@media (max-width: 768px) {
    .hide {
        display: none;
    }
    .menu-icon {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

/* Profile Section*/
#profile {
    box-sizing: border-box;
    padding: 4vh 2rem;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    max-width: 1200px;
}

.profile-pic-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideRight 1s ease forwards;
}

.profile-pic-container img {
    border-radius: 45%;
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.profile-text {
    align-self: center;
    display: block;
    margin-bottom: 1rem;
}

.p_t_1 {
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    font-family: "Source Code Pro", monospace;
}

.name {
    text-align: center;
    font-size: 2.9rem;
    opacity: 0;
    animation: slideDown 1s ease forwards;
    /* font-family: "Source Code Pro", monospace; */
}

.p_t_2 {
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 8px;
    opacity: 0;
    animation: slideUp 1s ease forwards;
    font-family: "Source Code Pro", monospace;
}

.profil-text .btn_container {
    text-align: center;
}

.btn-cv {
    font-weight: 500;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0.1rem solid;
    border-radius: 2rem;
    color: white;
}

.btn-cv:hover {
    box-shadow: 0 0 10px white;
    background-color: rgb(18, 57, 134);
    cursor: pointer;
    border: 0.2rem solid;
    width: 8.5rem;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    animation: slideLeft 1.5s ease forwards;
}

.git_icon,
.tel_icon,
.gm_icon {
    height: 5vh;
    transition: all 350ms ease;
}

.git_icon:hover,
.tel_icon:hover,
.gm_icon:hover {
    height: 6vh;
    cursor: pointer;
}

@media (max-width: 700px), (max-height: 742px) {
    #profile {
        flex-wrap: wrap;
        height: 100%;
    }
}

@media (min-width: 750px), (max-height: 742px) {
    #profile {
        display: flex;
        height: 90vh;
    }
}

/* About Section*/

#about {
    align-content: center;
    padding: 0 2rem 2rem 2rem;
    background-color: #0b1937;
}
.about_p1 {
    text-align: center;
}
.about_title {
    text-align: center;
    height: 10vh;
    margin-top: 5vh;
}

.about_container {
    max-height: 500px;
    display: flex;
    gap: 2rem;
}

@media (max-width: 700px), (max-height: 742px) {
    #about {
        height: 170vh;
    }
    .about_container {
        flex-wrap: wrap;
    }
}

@media (min-width: 701px), (max-height: 742px) {
    .about_container {
        display: flex;
    }
    #about {
        height: 100vh;
    }
}

.about_pic_cont {
    max-width: 450px;
    animation: slideRight 1s ease forwards;
}

.about_pic_cont img {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 1.5rem;
}

.exp_and_edu {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 10%;
}

.experience_cont,
.education_cont {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: 0.1rem solid;
    text-align: center;
    animation: slideLeft 1s ease forwards;
}
.experience_cont h3,
.education_cont h3 {
    height: 2rem;
}
.about_text p {
    margin-bottom: 10%;
    padding: 0px 12% 0px 12%;
    animation: slideUp 1s ease forwards;
}

.experience_pic,
.education_pic {
    max-width: 20%;
}

.git_repo {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 1.5s ease forwards;
}

.git_repo p {
    padding: 1rem;
}
.git_repo img {
    padding: 1rem;
}

#arrow_button {
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: transparent;
    z-index: 10;
}

#arrow_button img {
    height: 6vh;
    transition: height 250ms ease;
}

.downarrow:hover img {
    height: 7vh;
}

#projects.changed .p_and_s_p1 {
    animation: slideDown 1.5s ease forwards;
}
#projects.changed .p_and_s_title {
    animation: slideUp 1.5s ease forwards;
}
#projects.changed .flutter_app {
    animation: slideRight 1.5s ease forwards;
}
#projects.changed .registration_web {
    animation: slideLeft 1.5s ease forwards;
}
#projects.changed .projects {
    animation: slideRight 1.4s ease forwards;
}
#projects.changed .skills {
    animation: slideLeft 1s ease forwards;
}

/* Projects SEction */

#projects {
    align-content: center;
    height: 100%;
    padding: 0 2rem 2rem 2rem;
    background-color: #121930;
}

.project_and_skill {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 5%;
}

.p_and_s_p1 {
    text-align: center;
}
.p_and_s_title {
    text-align: center;
    height: 10vh;
    margin-top: 5vh;
}

.project_title,
.skill_title {
    text-align: center;
}

.skill_lst {
    justify-content: space-around;
    display: flex;
    gap: 2rem;
}

.skill_lst p {
    margin-left: 1.5rem;
    color: rgb(203, 203, 203);
}

.projects,
.skills {
    padding: 1.5rem;
    border-radius: 2rem;
    border-top: 0.1rem solid;
    border-left: 0.1rem solid;
}

.flutter_app img,
.registration_web img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1.5rem;
    max-width: 300px;
}

.registration_web img {
    height: 30vh;
}

.flutter_app,
.registration_web {
    flex: 1;
    text-align: center;
}

.flutter_app p,
.registration_web p {
    color: rgb(184, 194, 203);
    margin-top: 2%;
}

@media (max-width: 1280px), (max-height: 742px) {
    .additional_image1,
    .additional_image2 {
        display: none;
    }
}

@media (max-width: 730px), (max-height: 742px) {
    .my_projects {
        flex-wrap: wrap;
    }
    #projects {
        height: 100%;
    }
}

@media (min-width: 731px), (max-height: 742px) {
    .my_projects {
        display: flex;
        gap: 5%;
    }
}

#contact.changed .contact_p1 {
    animation: slideDown 1.5s ease forwards;
}
#contact.changed .contact_p1 {
    animation: slideDown 1.5s ease forwards;
}
#contact.changed .contact_title {
    animation: slideUp 1.5s ease forwards;
}
#contact.changed .gmail {
    animation: slideLeft 1.5s ease forwards;
}
#contact.changed .telegram {
    animation: slideLeft 1s ease forwards;
}

/* Contact me Section */

#contact {
    height: 90vh;
    align-content: center;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: rgb(10, 24, 46);
}
.contact_p1 {
    text-align: center;
}
.contact_title {
    text-align: center;
    height: 10vh;
    margin-top: 5vh;
}

.contact_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmail img {
    height: 4vh;
    transition: all 350ms ease;
}
.telegram img {
    height: 5vh;
}

.gmail,
.telegram {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 2rem;
    border-top: 0.1rem solid;
    border-bottom: 0.1rem solid;
}

.gmail a,
.telegram a {
    color: white;
    text-decoration: none;
}

.gmail a:hover,
.telegram a:hover {
    cursor: pointer;
    color: rgb(115, 162, 255);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.gmail img:hover,
.telegram img:hover {
    height: 8vh;
    transition: all 350ms ease;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #071026;
}

footer .navbar {
    display: flex;
    justify-content: center;
}

/* Animation Functions */

@keyframes slideDown {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
